<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
  <h1>Joel</h1>
  <app-image-edited *ngFor="let image of joelImages" [image]="image"></app-image-edited>

  <h1>Noah</h1>
  <app-image-edited *ngFor="let image of noahImages" [image]="image"></app-image-edited>

  <h1>Yanik</h1>
  <app-image-edited *ngFor="let image of yanikImages" [image]="image"></app-image-edited>

  <h1>Video</h1>
  <iframe width="610" height="320" src="https://www.youtube.com/embed/ydbdtdgCu14" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <h1>Livestream</h1>
  <iframe width="610" height="320" src="https://www.youtube.com/embed/EEIk7gwjgIM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
