<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
  <h1>{{user | titlecase}}</h1>
  <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="5px">
    <a mat-stroked-button href="assets/pdfs/{{user}}/Datenformate.pdf" target="_blank">Datenformate</a>
    <a mat-stroked-button href="assets/pdfs/{{user}}/Software-Plugins-Scripts.pdf" target="_blank">Software, Plugins & Scripts</a>
    <a mat-stroked-button href="assets/pdfs/{{user}}/Urheberrecht-Copyright.pdf" target="_blank">Urheberrecht vs. Copyright</a>
  </div>

  <app-image *ngFor="let image of images" [image]="image"></app-image>
</div>
