<mat-card class="image-card">
  <div #slider mat-card-image class="beer-slider" data-beer-label="Original">
    <img [src]="image.srcBefore" alt="Original">
    <div class="beer-reveal" data-beer-label="Bearbeitet">
      <img [src]="image.src" alt="Bearbeitet">
    </div>
  </div>
  <mat-card-content>
    <mat-card-title>{{image.title}}</mat-card-title>
    <p>{{image.description}}</p>
    <mat-card-title>Technische Daten</mat-card-title>
    <ul>
      <li><strong>Blende:</strong> {{image.imageSpecs.aperture}}</li>
      <li><strong>Verschlusszeit:</strong> {{image.imageSpecs.shutterSpeed}} Sekunden</li>
      <li><strong>ISO:</strong> {{image.imageSpecs.iso}} ISO</li>
    </ul>
  </mat-card-content>
</mat-card>
